<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Livros</title>
</head>
<body>
  <h1>Cadastro de livros</h1>
  <form action="/livros" method="post">
    <if(input.livro.id)>
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" id="id" name="id" value="${input.livro.id}" />
    </if>
  
    <div>
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" placeholder="coloque o titulo do livro" value="${input.livro.titulo}" />
    </div>

    <div>
      <label for="preco">Preço:</label>
      <input type="text" id="preco" name="preco" placeholder="150.25" value="${input.livro.preco}" />
    </div>

    <div>
      <label for="descricao">Descrição:</label>
      <textarea name="descricao" rows="10" cols="20" id="descricao" placeholder="Descricão">${input.livro.descricao}</textarea>
    </div>

    <input type="submit" value="Salvar" />
    <a href="http://localhost:3000/livros">
      <button>Voltar</button>
    </a>

  </form>
</body>
</html>